@import '../../scss/variables'


.offer
    background-image: url('../../image/bg.jpg')
    background-size: cover
    background-position: center 
    padding-bottom: 140px   
    &__inner
        color: $mainColor
        text-transform: uppercase
        padding-top: 180px
        font-family: "Futura PT Light"
        & h1
            font-size: 40px
            font-weight: 700
            margin-right: 40px
        & p
            font-weight: 400
            font-size: 31px
            line-height: 64px
            margin-bottom: 120px
            letter-spacing: 1px

.offer__inner .offer__btn
    background-color: $mainColor
    padding: 10px 40px
    margin-left: 140px
    color: #fff
    display: inline-block
